services:
  postgres:
    ports:
      - "${POSTGRES_PORT}:5432"

  redis:
    ports:
      - "${REDIS_PORT}:6379"

  api:
    ports:
      - "${API_PORT}:${API_INTERNAL_PORT}"
    environment:
      APP_ENV: dev
      SPRING_PROFILES_ACTIVE: dev
      LOGGING_LEVEL_ROOT: INFO

  web:
    ports:
      - "${WEB_PORT}:${WEB_INTERNAL_PORT}"
    environment:
      APP_ENV: dev
      NEXT_PUBLIC_API_BASE_URL: http://localhost:${API_PORT}
